.about_container {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    background-image: url('./assets/Welder.jpg');
    background-position: center;
    background-size: cover;    
}
.about_container__buttons {
    margin-top: -30px;
    padding-left: 108px;
    padding-right: 108px;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: #f9a63f;
}